/* Define your theme modifications inside next mixin */
@mixin com_company_portfoliopoc-hover-ext {

  .v-button-theme-importance-1 {

        background-color: #c2ffb9;
        color: red;


  }

  .theme-importance-2 {
    background-color: #4aab3b;
  }

  .theme-importance-3 {
    background-color: #216b17;
  }

  .theme-importance-4 {
    background-color: #0c3b07;
  }
}